.about-me-main {
    margin: 10px;
    margin-top: 70px;
}

.about-me-container {
    display: flex;
    flex-direction: row;
}

.info-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.basic-info {
    flex-direction: column;
}

.links {
    color: black;
}
.profile-image {
    width: 25%;
}